
.more ul{
	text-transform:uppercase;
	font-size:15px;
	padding:50px 20px 30px 20px;
	height:50px;
	clear:left;
	font-family: 'Gamja Flower', cursive;
	width:1000px;
	margin:0 auto;
    color:#fff;
}
.more ul li{
	float:right;
	margin:0px 2px 0px 2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#555;
	background:#f7f7f7;
	padding:3px 6px 3px 6px ;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.6);
	box-shadow:1px 1px 2px rgba(0,0,0,0.6);
}
.more ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:transparent;
}



section{
	background-color: rgba(255, 255, 255,0.6);
	margin: 70px;
	text-decoration-color: #000;

}

h2, li{
	text-shadow: 2px 2px 3px black;
}

.bas
{
	background-color: rgba(255, 255, 255,255);
	margin: 20px;
}

.haut
{
	background-color: rgba(255, 255, 255,0.5);
	margin: 20px;
}


.nav>li{
	position:relative;
	display:block}
	.nav>li>a{
		position:relative;
		display:block;
		padding:10px 15px
	}
	.nav>li>a:focus,.nav>li>a:hover{
		text-decoration:none;
		background-color:#eee
	}
		.nav>li.disabled>a{
			color:#777
		}
		.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{
			color:#777;
			text-decoration:none;
			cursor:not-allowed;
			background-color:transparent
		}
		.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
			background-color:#eee;border-color:#337ab7
		}
		.nav .nav-divider{
			height:1px;
			margin:9px 0;
			overflow:hidden;
			background-color:#e5e5e5
		}
		.nav>li>a>img{
			max-width:none
		}

		video{
			width:400%;
		}